



.containerprod{
    background-color:burlywood;
    width: 70%;
    margin: 2% 15%;
    display:flex;
    border: 2px solid black;
    
}

.prodright{
    margin: 2% 5%;
    width: 70%;
    padding: 5%;
}

.nb{
    color: blue;
}
.nmpr{
    display: flex;
}

.nameprod{font-size: 30px;
    color: firebrick;
    font-family: LaPolice;
    src : url(police/Langar-Regular.ttf);

}

.defprod{color: black;
    padding: 0% 15px;
}
.containerRecherche { 
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchfor{
    background-color: burlywood;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;

}

.inpu{
background-color: black;
    display: flex;
    justify-content: center;

}